@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope';
    font-size: 13px;
    background-color: hsl(210, 46%, 95%);
    color: hsl(214, 17%, 51%);
}

.main-card {
    margin: 75px 25px 30px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
}

.main-card .img-card {
    height: 200px;
    width: 100%;
    background-image: url('images/drawers.jpg');
    background-size: cover;
    background-position: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.main-card .content-card {
    padding: 40px 32px 20px;
    background-color: white;
}

.content-card h2 {
    color: hsl(217, 19%, 35%);
    font-size: 1.25em;
    font-weight: 700;
    letter-spacing: 0.1px;
}

.content-card p {
    margin-top: 10px;
    font-weight: 500;
    letter-spacing: 0.1px;
}

.footer-card {
    background-color: white;
    padding: 15px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.footer-card .profile-data {
    display: flex;
    align-items: center;
}

.profile-data .img-avatar {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-image: url('images/avatar-michelle.jpg');
    background-size: contain;
    background-position: center;
    margin-right: 15px;
}

.profile-data .username p {
    color: hsl(212, 23%, 69%);
    font-size: .9em;
    letter-spacing: 0.2px;
}

.footer-card .icon-share {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: hsl(210, 46%, 95%);
    background-image: url('images/icon-share.svg');
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.footer-card .icon-share.active {
    background-color: hsl(214, 17%, 51%);
    background-image: url('images/icon-share-light.svg');
    z-index: 2;
}

.footer-card .modal-media {
    background-color: hsl(217, 19%, 35%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 32px;
    z-index: 1;
    display: none;
    justify-content: flex-start;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.modal-media span {
    color: hsl(212, 23%, 69%);
    letter-spacing: 5px;
    margin-right: 7.5px;
}

.modal-media img {
    margin: 0 7.5px;
    cursor: pointer;
}

.footer-card .modal-media.active {
    display: flex;
}

.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (min-width: 768px) {
    .main-card {
        grid-template-columns: minmax(auto, 290px) minmax(auto, 450px);
    }
    .main-card .img-card {
        grid-row-start: 2 span;
        height: 100%;
        border-radius: 0;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    .footer-card {
        border-radius: 0;
        border-bottom-right-radius: 15px;
    }
    .content-card {
        border-top-right-radius: 15px;
    }
    .footer-card .modal-media {
        padding: 0;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        right: -15px;
        left: auto;
        bottom: auto;
        top: -65px;
        width: 240px;
        height: 60px;
        
box-shadow: 0px 10px 10px 2px rgba(0,0,0,0.1);
    }
    .footer-card .modal-media::after {
        /* width: 0; 
        height: 0; 
        background-color: hsl(217, 19%, 35%);
        border-left: 100px solid #f0ad4e;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;  */
        content: '';
        position: absolute;
        bottom: 0;
        left: 74%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-top-color: hsl(217, 19%, 35%);
        border-bottom: 0;
        margin-left: -20px;
        margin-bottom: -10px;
    }
}

/* para los demas dispositivos mas grandes laptops*/
@media screen and (min-width: 1024px) {
    .footer-card .modal-media {
        right: -78px;
    }
    .footer-card .modal-media::after {
        left: 50%;
    }
}